<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

    <style>
        .color-box {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 7px;
            display: inline-block;
        }

        .clic {
            cursor: pointer;
        }

        .quantity button {
            border-radius: 50%;
            display: inline-block;
            width: 30px;
        }

        .quantity div {
            text-align: center;
            min-width: 30px;
            display: inline-block;
            font-weight: bold;
        }

        .buy-box {
            margin: 20px;
        }

        footer {

            text-align: center;
            padding: 30px 10px;
            margin-top: 50px;
            min-height: 100px;
        }

        .container {
            margin-top: 50px;
        }

        .producto-relacionado-precio {
            background: orangered;
            color: white;
            text-align: center;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg " :style="`background-color: ${menuColor}`">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">{{marca}}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" v-for="menu in menus">
                            <a class="nav-link" aria-current="page" href="#">{{menu.etiqueta}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">

            <div class="row">
                <h3>{{producto.nombre}}</h3>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 ">
                    <img v-bind:src="producto.imagen" alt="" width="100%">
                </div>
                <div class="col-12 col-sm-6  col-md-8">
                    <h6>{{producto.descripcion}}</h6>
                    <div class="p-3 mb-2 text-white" :style="precioEstilos">
                        Precio: {{producto.precio}} BOB
                    </div>
                    <h5>{{pedido.color}}</h5>
                    <div>
                        <div class="color-box clic" :style="`background: ${color}`" v-for="color in producto.colores" @click="onSelectedColor(color)">
                        </div>
                    </div>
                    <h5>Cantidad</h5>
                    <div class="quantity">
                        <button @click="decreaseQty()">-</button>
                        <div>{{pedido.cantidad}}</div>
                        <button @click="increaseQty()">+</button>
                    </div>
                    <div class="buy-box">
                        <button :disabled="isDisabled" type="button" class="btn btn-primary"
                            @click="comprarButton(producto.id, pedido)">Comprar</button>
                    </div>

                </div>
            </div>
        </div>



        <div class="container ">

            <div class="row">
                <h4>Productos relacionados</h4>
            </div>
            <div class="row">
                <div class="col" v-for="pr in productosRelacionados">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{pr.nombre}}</h5>
                            <img v-bind:src="pr.imagen" alt="" width="100%">
                            <p class="card-text">{{pr.descripcion}}</p>
                            <div class="producto-relacionado-precio">Precio:{{pr.precio}} BOB</div>
                            <div>
                                <div>
                                    <div class="color-box" :style="`background: ${prColor}`"
                                        v-for="prColor in pr.colores"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer :style="`background-color: ${footerColor}`">

        </footer>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                pedido: {
                    id: null,
                    cantidad: 1,
                    color: null,
                },
                marca: "MegaDron",
                menuColor: "lightblue",
                footerColor: "slategrey",
                precioEstilos: "background: orangered; color: white; font-weight: bold",
                menus: [
                    {
                        etiqueta: "Inicio",
                        url: "?"
                    },
                    {
                        etiqueta: "Tienda",
                        url: "?"
                    }
                ],
                producto:
                {
                    id: 1,
                    imagen: "https://ae01.alicdn.com/kf/Sc3cc58f2a441419f970cc01f9e5358fbw/Dron-LU3-MAX-GPS-8K-HD-profesional-con-c-mara-Dual-card-n-autoestabilizador-Motor-sin.jpg_Q90.jpg_.webp",
                    nombre: "Dron LU3 MAX GPS 8K HD",
                    descripcion: "Dron LU3 MAX GPS 8K HD profesional con <b>cámara Dual</b>,cardán autoestabilizador, Motor sin escobillas para evitar obstáculos, cuadricóptero plegable",
                    precio: "620",
                    colores: ["red", "blue", "black", "yellow"]
                },
                productosRelacionados:
                    [
                        {
                            id: 2,
                            imagen: "https://ae01.alicdn.com/kf/Hd59f72dd965d467dbbd499275a70b1d4z/Dron-plegable-KF102-con-Gps-8K-c-mara-Dual-HD-2-ejes-card-n-Motor-sin.jpg_Q90.jpg_.webp",
                            nombre: "KF102",
                            descripcion: "Dron plegable KF102 con Gps, 8K, cámara Dual HD, 2 ejes,cardán, Motor sin escobillas, fotografía aérea, 1200M de distancia, novedad de 2022",
                            precio: "1180",
                            colores: ["orange", "blue"]
                        },
                        {
                            id: 3,
                            imagen: "https://ae01.alicdn.com/kf/S947d9284b5ea4531a1bec599a09a1f49K/KBDFA-Dron-E888-RC-cuadric-ptero-profesional-FPV-4K-HD-fotograf-a-a-rea-evitaci-n.jpg_Q90.jpg_.webp",
                            nombre: "KBDFA-Dron E888 RC",
                            descripcion: "KBDFA-Dron E888 RC, cuadricóptero profesional FPV, 4K HD,fotografía aérea, evitación de obstáculos, helicóptero, juguetes de distancia",
                            precio: "154",
                            colores: ["black", "midnightblue"]
                        },
                        {
                            id: 4,
                            imagen: "https://ae01.alicdn.com/kf/S552326188797415ab6c729f850ab2639R/Dron-Profesional-4K-con-GPS-8K-c-mara-HD-3-ejes-card-n-antivibraci-n-evitaci.jpg_Q90.jpg_.webp",
                            nombre: "Dron Profesional 4K con GPS",
                            descripcion: "Dron Profesional 4K con GPS, 8K, cámara HD, 3 ejes, cardán antivibración, evitación de obstáculos, fotografía aérea, Quadcopter, nuevo",
                            precio: "1800",
                            colores: ["teal", "blue", "slategrey", "navy"]
                        }
                    ],
            },
            methods: {
                comprarButton(id, pedido) {
                    alert("id: " + id + " - cantidad: " + pedido.cantidad + " - color: " + pedido.color);
                },
                increaseQty(){
                    this.pedido.cantidad++;
                },
                decreaseQty(){
                    this.pedido.cantidad--;
                },
                onSelectedColor(color){
                    this.pedido.color = color;
                }
            },
            computed: {
                isDisabled: function () {
                    return this.pedido.cantidad < 1 || this.pedido.color === null;
                },
            }
        })
    </script>
</body>

</html>